* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #edf5e1;
  background-color: #5cdb95;
}

h1 {
  text-transform: uppercase;
  font-size: 12rem;
}
h2 {
  font-size: 2rem;
  width: 50rem;
  margin: auto;
}
h3 {
  text-transform: uppercase;
  font-size: 4rem;
}
h4 {
  font-size: 3rem;
  text-transform: uppercase;
}

h5 {
  text-transform: uppercase;
  font-size: 1.1rem;
}

h6 {
  font-size: 0.8rem;
  color: #05386b;
}

a {
  text-decoration: none;
}

.hello {
  height: 92vh;
  text-align: center;
  padding-top: 10rem;
}

.bounce-canvas {
  width: 70%;
  height: 255px;
  margin: auto;
}

.contact-banner {
  background-color: #05386b;
  height: 8vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.contact-border-text {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  line-height: 8vh;
  animation: slide 40s linear infinite;
}

.mail-link {
  font-size: 2.2rem;
  color: #edf5e1;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* --- PORTFOLIO GRID --- */

.portfolio-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 15vh);
}

.paint {
  grid-area: 1 / 1 / span 4 / span 3;
  background-color: #05386b;
  z-index: 10;
  overflow: hidden;
}

.pulse {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #edf5e1;
  cursor: pointer;
  box-shadow: 0 0 0 #edf5e19a;
  margin: 1.5rem;
  display: inline-block;
}

.pulse:hover {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(237, 245, 225, 0.604);
  }
  70% {
    box-shadow: 0 0 0 120px rgba(237, 245, 225, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(237, 245, 225, 0);
  }
}

.star1 {
  width: 1.5rem;
  transition: all 2s ease-in-out;
}
.star2 {
  width: 2rem;
  transition: all 1s ease-in-out;
}

.star1:hover,
.star2:hover {
  animation: blink 2s linear infinite;
}

.about-and-soup {
  grid-area: 1 / 4 / span 3 / span 4;
  z-index: 10;
}

.about {
  background-color: #8ddcbb;
  width: 25%;
  height: 100%;
  float: left;
  padding: 2.5rem 1rem;
  cursor: pointer;
}

.about-text {
  transform: rotate(90deg);
  pointer-events: none;
  cursor: pointer;
}

/* ------- D I V - S O U P ------- */
.what-soup {
  background-color: #379683;
  width: 75%;
  height: 100%;
  float: right;
  padding: 1rem;
}

.soup-title {
  font-size: 2.5rem;
}

.soup-title:hover {
  animation: shake 1s infinite;
  cursor: pointer;
}

.bowl {
  width: 10rem;
  height: 10rem;
  background-color: #edf5e1;
  border: 6px solid #dee0c4;
  border-radius: 50%;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.soup {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: transparent;
  /* animation: fill 5s ease; */
}

.spoon {
  margin: 1rem 0;
}

.spoon-top {
  background-color: silver;
  border: 2px solid rgb(182, 181, 181);
  width: 2rem;
  height: 3rem;
  border-radius: 45%;
}

.spoon-handle {
  background-color: silver;
  border: 1px solid rgb(182, 181, 181);
  width: 0.4rem;
  height: 7rem;
  margin: auto;
}

.tablet {
  background-color: #379683;
  margin: auto;
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

@keyframes fill {
  0% {
    width: 0rem;
    height: 0rem;
  }
  25% {
    width: 1rem;
    height: 1rem;
  }
  50% {
    width: 2rem;
    height: 2rem;
  }
  75% {
    width: 3rem;
    height: 3rem;
  }
  100% {
    width: 4rem;
    height: 4rem;
  }
}

@keyframes shake {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  25% {
    transform: translate(2px, 2px) rotate(2deg);
  }
  50% {
    transform: translate(-2px, -2px) rotate(-2deg);
  }
  75% {
    transform: translate(4px, -2px) rotate(4deg);
  }
  100% {
    transform: translate(-2px, 2px) rotate(-2deg);
  }
}

.one {
  grid-area: 1 / 8 / span 5 / span 5;
  background-image: url("bg.png");
  background-size: cover;
  cursor: pointer;
}

/* ------- N U M B E R - G A M R ------- */
.number-game {
  grid-area: 5 / 1 / span 3 / span 3;
  background-color: #5cdb95;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 1rem 1rem 1rem;
  text-align: center;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 6rem;
  color: #05386b;
  font-family: "Montserrat", sans-serif;
}

button:focus,
input:focus {
  outline: none;
}

.start-btn:hover {
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    color: #05386b;
  }
  50% {
    color: #edf5e1;
  }
  100% {
    color: #05386b;
  }
}

.submit-btn,
.hidden {
  display: none;
}

.number-input {
  width: 4rem;
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: #edf5e1;
  border: 0;
  color: #05386b;
  font-family: "Montserrat", sans-serif;
}

.circle {
  grid-area: 4 / 4 / span 4 / span 4;
  background-color: cadetblue;
}

.type-something {
  grid-area: 6 / 8 / span 3 / span 5;
  background-color: #8ee4af;
}

.chat-input {
  background-color: transparent;
  border: 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #05386b;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

::placeholder {
  color: #05386b;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.bot-text {
  text-align: right;
}

.two {
  grid-area: 8 / 1 / span 5 / span 4;
  background-color: #379683;
  cursor: pointer;
}

.snow {
  grid-area: 8 / 5 / span 1 / span 3;
  background-color: #05386b;
}

.three {
  grid-area: 9 / 5 / span 4 / span 4;
  background-color: #8ddcbb;
  cursor: pointer;
}

.contact {
  grid-area: 9 / 9 / span 4 / span 4;
  background-color: #edf5e1;
}

.block {
  padding: 1rem;
}

.black {
  color: #05386b;
}

.triangles {
  width: 90%;
  margin: 1rem;
}

.moon {
  max-width: 11rem;
  min-width: 7rem;
}

.moon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.project {
  position: relative;
}

.text-container {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

/* ------- P O P - U P ------- */

.popup {
  width: 30rem;
  border: 3px solid #05386b;
  background-color: #edf5e1;
  position: absolute;
  z-index: 10;
  left: 400px;
  top: 1000px;
}

.popup-top {
  border-bottom: 3px solid #05386b;
  width: 90%;
  height: 3rem;
  float: left;
  padding: 0.7rem;
  color: #05386b;
}

.popup-close {
  border-bottom: 3px solid #05386b;
  border-left: 3px solid #05386b;
  width: 10%;
  height: 3rem;
  float: right;
}

.popup-close:hover,
.close-button:hover {
  background-color: #05386b;
  color: #edf5e1;
}

.close-button {
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
}

.popup-title {
  color: #05386b;
  font-size: 3rem;
}

.popup-inner {
  padding: 2rem 2rem;
  display: inline-block;
  width: 100%;
}

.popup-info {
  color: #05386b;
}

hr {
  color: #05386b;
  margin-bottom: 2rem;
  margin-top: 0.3rem;
}

.visit-link {
  border: 3px solid #05386b;
  padding: 1rem;
  margin-top: 2rem;
  color: #05386b;
  display: inline-block;
}

.visit-link:hover {
  background-color: #05386b;
  color: #edf5e1;
}

.hidden {
  display: none;
}

.circle-frame,
.snow-frame,
.bounce-frame {
  width: 100%;
  height: 100%;
}

.social-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 85%;
}

.fab {
  font-size: 5rem;
  color: #05386b;
  padding: 1rem;
}

.fab:hover {
  color: #379683;
}

.iphone {
  display: none;
}

@media only screen and (max-width: 900px) {
}

@media only screen and (max-width: 600px) {
  .portfolio-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-size: 4.2rem;
  }
  h2 {
    font-size: 1.2rem;
    width: auto;
  }
  .soup-title {
    font-size: 2rem;
  }
  .iphone {
    display: inline-block;
  }
  .web {
    display: none;
  }

  .bounce-canvas {
    width: 95%;
    height: 350px;
  }

  .about-and-soup {
    height: 45vh;
  }

  .about {
    padding: 1rem;
  }

  .circle,
  .one {
    height: 45vh;
  }

  .three {
    height: 42vh;
  }
  .paint {
    display: none;
  }

  .type-something {
    height: 30vh;
  }
  .number-game {
    height: 35vh;
    padding: 1rem;
  }
  .snow {
    height: 115px;
  }
  .social-links {
    padding-top: 4rem;
  }
  .popup {
    width: 95%;
    left: 10px;
    top: 1000px;
  }
}
